# Dépendances
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Fichiers d'environnement locaux
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Fichiers de configuration et clés sensibles
google-services.json
GoogleService-Info.plist

# Fichiers de verrouillage de package (si vous préférez ne pas les inclure)
package-lock.json
yarn.lock

# Autres fichiers et dossiers générés ou sensibles non nécessaires à la version
# Ajustez selon vos besoins spécifiques
